<cc-toolbar-dialog icon="close"></cc-toolbar-dialog>
<div id="login-trello">
  <button md-button (click)="logInWithTrello()">
    <div>
      <span>Conectar <br>com Trello</span>
      <md-icon>exit_to_app</md-icon>
    </div>
  </button>
  <small>Se você ja tem uma conta no Trello basta clicar acima. Não precisa de cadastro.</small>
</div>
<div id="register-trello">
  <button md-button>
    <div>
      <span>Criar uma <br>conta no Trello</span>
      <md-icon svgIcon="trello"></md-icon>
    </div>
  </button>
  <small>Após criar a sua conta no site do Trello, basta voltar aqui e clicar no botão <strong>Conectar com Trello</strong></small>
</div>
