body .mat-toolbar {
    background: $color__lightengray;

    &.main-toolbar .mat-toolbar-row {
        justify-content: space-between;
    }

    &:not(.main-toolbar) {
        border-bottom: solid 1px $color__gray;

        md-icon[svgicon="coletive"], div {
            width: calc(100% - 24px);
        }
    }
    div {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
    }

}
