@import "../../../../scss/variables/colors";
@import "../../../../scss/variables/breakpoints";

#add-sucesso {
  padding-top: 30px;
  h1 { color: $color__main; }
}

.share {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .buttons { display: flex; }
    md-icon {
        font-size: 24px;
        height: 24px;
        width: 24px;
        margin-right: 8px;
        &[aria-label="share"]{ color: $color__gray; }
    }
    span { color: $color__gray; }
    button {
        border: solid 1px $color__gray;
        padding: 0 8px;
        margin-left: 12px;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.dica {
    background-color: rgba($color__tabs, 0.1);
    margin-top: 24px;
    padding: 12px 12px 40px 12px;
    > div {
        display: flex;
        align-items: center;
        color: $color__tabs;
        md-icon {
            width: 40px;
            height: 40px;
            margin-right: 12px;
        }
    }
    md-chip-list a {margin-right: 6px;}
    md-chip {
      color: #fff;
      background-color: $color__tabs;
      font-size: 16px;
      padding: 10px 20px 10px 20px;
    }
}

@include media-breakpoint-up(xxs) {
  .share md-icon {
      font-size: 32px;
      height: 32px;
      width: 32px;
      margin-right: 16px;
  }
}

@include media-breakpoint-up(xs) {
  .share button {
      width: 180px;
  }
}
