<div id="lists" *ngIf="lists; else noLists">
  <div id="list-slider" [ngStyle]="{'transform': listTranslation , 'width': (listWidth * lists.length) + 'px' }" (swipe)="swipeList($event)">
    <div *ngFor="let list of lists; let i = index" id="list" (click)="sendSelected(list)" [ngClass]="{'selected': select == list, 'flex': '0 0 ' + listWidth + 'px' }">
        <div>{{ list.name }} <md-icon svgIcon="chevron_down_outline"></md-icon></div>
        <md-icon svgIcon="list_01"></md-icon>
    </div>
  </div>
  <div id="list-slider-pagination">
    <div *ngFor="let list of lists; let i = index">
        <md-icon *ngIf="currentList != index" color="primary">panorama_fish_eye</md-icon>
        <md-icon *ngIf="currentList == index" color="primary">lens</md-icon>
    </div>
  </div>
</div>

<ng-template #noLists>
  <div id="no-content">
      <img src="assets/images/project-folder.png" alt="">
      <h3>Você não tem nenhuma<br>lista de tarefas criadas.</h3>
      <p>Clique no botão abaixo para acessar a sua<br> conta de Trello e criar uma lista de tarefas.</p>
      <button md-button (click)="addTrello()">Adicionar uma lista<md-icon>add_circle_outline</md-icon></button>
  </div>
</ng-template>
