@import "../../../scss/variables/colors";

#add-project-tabs {

  //PROJETO
  .mat-tab-label {
      font-size: 22px;
      opacity: 1;
      color: #fff;
      padding: 0 !important;

      &, .label, .tab-label {
            display: flex;
            justify-content: center;
            align-items: center;
      }

      .label {
          background-color: $color__lightgray;
          border-radius: 16px;
          width: 32px;
          height: 32px;
      }

      .tab-label {
          width: 100%;
          height: 100%;
          border-bottom: solid 5px $color__lightgray;

          &.completed {
              background-color: rgba($color__selected, 0.1);
              border-bottom: solid 5px $color__selected;
              .label {
                  background-color: $color__selected;
              }
          }
      }
  }
  .mat-ink-bar {
      background-color: $color__tabs;
  }
  .mat-tab-label-active {
      background-color: rgba($color__tabs, 0.1);

      div.label {
          background-color: $color__tabs;
      }
  }



  .mat-list-item {

      .mat-list-item-content {
          height: 72px;
      }
      md-icon {
          color: $color__lightgray;
          .check {
              fill: none;
          }
      }

      .border-bottom {
          position: absolute;
          bottom: 0;
          height: 1px;
          background-color: $color__lightgray;
          width: calc(100% - 32px);
      }


      &.selected {
          background-color: $color__selected;
          color: #fff;

          md-icon {
              color: #fff;
              .check {
                  fill: #fff;
              }
          }
      }

  }

 //LISTA
 #lists {
    overflow: hidden;
 }

 #list-slider {
      display: flex;
      transition: transform .2s;
      margin: 24px 0 8px 0;
  }

 #list {
      margin-right: 12px;

      > div {
          background: #d6dadc;
          height: 36px;
          padding: 0 8px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 4px 4px 0 0;
          font-weight: 600;

          > md-icon.mat-icon {
              width: 18px;
          }
      }
      > md-icon.mat-icon {
          width: 100%;
          height: auto;
      }

      &.selected {
          path.overlay {
              fill: #75e56a;
          }

          rect.checkbox {
              fill: none;
              stroke: #fff;
          }

          polygon.check {
              fill: #fff;
          }
      }

  }

  #list-slider-pagination {
      display: flex;
      justify-content: center;
  }

  #list-slider-pagination md-icon.mat-icon {
      font-size: 8px;
      width: 12px;
  }


  //No Content
  #no-content {
      text-align: center;
      margin: 80px 0;

      h3 {
          color: $color__main;
      }

      button.mat-button {
          text-transform: uppercase;
          font-weight: 600;
          color: #fff;
          background: #00b7a4;
          width: 260px;
          height: 50px;
          margin: 16px 0;

          span {
              display: flex;
              align-items: center;
              justify-content: space-between;
          }
      }


  }



}

button#next-tab {
    background-color: $color__selected;
    color: #fff;
    width: calc(100% - 32px);
    height: 48px;
    margin: 16px;
    font-size: 16px;
    position: fixed;
    bottom: 0;

    .mat-icon {
        position: absolute;
        right: 16px;
        margin: 2px 0;
        font-size: 32px;
        height: 32px;
        width: 32px;
    }

    &:disabled {
        background-color: $color__lightgray;
    }
}
