@import "../../../scss/variables/colors";

:host {
    display: flex;
    justify-content: space-between;

    .buttons md-icon {
        padding: 6px;
        border-radius: 24px;
        &[aria-label="share"] {
            color: $color__gray;
        }
        &:hover{
          background-color: $color__lightengray;
        }
    }
    .participar {
        background-color: $color__main;
        color: #fff;
        font-size: 12px;
        line-height: inherit;
        padding: 0 12px;
    }
}
