$color__main: #00b7a4;
$color__trello: #0079bf;

$color__tabs: #ffc800;
$color__selected: #75e56a;

$color__lightengray: #fafafa;
$color__lightgray: #dcdcdc;
$color__gray: #cdcdcd;
$color__darkgray: #484546;
