$font__main: 'Open Sans', sans-serif;

h1, h2, h3, h4, h5, h6{
  font-family: $font__main;
  letter-spacing: .04em;
  font-weight: 600;
}

p, span, em, div {
  font-family: $font__main;
  letter-spacing: .04em;
}

small {
  font-family: $font__main;
  letter-spacing: .02em;
}

.lead {
  font-size: 130%;
  line-height: initial;
}
